<div cdkDropListGroup>
	<div class=" label-wrapper">
		Form Label

		<div class="example-container">
			<div cdkDropList [cdkDropListData]="label" class="example-list" (cdkDropListDropped)="drag($event)">

				<div class="example-box" *ngFor="let item of label; let i = index" [cdkDragData]="item" cdkDrag
					[ngSwitch]="label[i].type">
					<app-input class="labelInput" placeholder="Input Label" *ngSwitchCase="'input'"></app-input>
					<app-button class="btnLabel" *ngSwitchCase="'button'"></app-button>
					<app-textarea class="labelTextarea" *ngSwitchCase="'textarea'">some text</app-textarea>
					<app-checkbox type="checkbox" *ngSwitchCase="'checkbox'"></app-checkbox>
					<app-select *ngSwitchCase="'select'"></app-select>

				</div>

			</div>
		</div>

		<button class="btn" (click)="label.splice(0,1)">Save form</button>
	</div>
	<div style="margin-left: 20px;display: inline;">
		<div class="example-container" style="display: inline-block;">

			<div id="list" cdkDropList [cdkDropListData]="elems" class="example-list" (cdkDropListDropped)="drag($event)"
				cdkDropListSortingDisabled>
				<div class="example-box" *ngFor="let item of elems" cdkDrag>{{item.type}}</div>
			</div>
		</div>
	</div>
</div>