<cdk-accordion class="example-accordion">
	<cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0"
		[attr.id]="'accordion-header-'" [attr.aria-expanded]="accordionItem.expanded"
		[attr.aria-controls]="'accordion-body-'">
		<div class="example-accordion-item-header" (click)="accordionItem.toggle()">
			Form Styles
			<span class="example-accordion-item-description">
				{{ accordionItem.expanded ? 'close' : 'open' }}
			</span>
		</div>
		<div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
			[attr.id]="'accordion-body-'" [attr.aria-labelledby]="'accordion-header-'">
			<form [formGroup]="formStyles" (submit)="onSubmit()">
				<input formControlName="label" class="form-label" placeholder="form label">
				<input formControlName="textColor" placeholder="Text color RGB">
				<input formControlName="bcgColor" placeholder="Background color RGB">
				<input formControlName="borderType" placeholder="Border type">
				<input formControlName="borderColor" placeholder="Border color RGB">
				<br>
				<button>Apply</button>
			</form>
		</div>
	</cdk-accordion-item>
</cdk-accordion>