<div cdkDropListGroup>
	<div class="example-container">
		<h2>Form Label</h2>

		<div cdkDropList [cdkDropListData]="label" class="example-list" (cdkDropListDropped)="drag($event)">
			<div class="example-box" *ngFor="let item of label" cdkDrag>
				{{item}}
			</div>
		</div>
	</div>

	<div class="example-container">

		<div id="list" cdkDropList [cdkDropListData]="elems" class="example-list" cdkDropListSortingDisabled
			(cdkDropListDropped)="drag($event)">
			<div class="example-box" *ngFor="let item of elems" cdkDrag>{{item}}</div>
		</div>
	</div>
</div>